# //Operating System Files//

# //Windows//

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Installers
*.cab
*.msi
*.msm
*.msp
*.lnk

# //OSX//

.DS_Store
.AppleDouble
.LSOverride
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
.apdisk
